<div class="cv-container">
  <!-- Aquí insertamos el componente de header dinámico -->
  <app-header></app-header>

  <div class="cv-body">
    <aside class="cv-sidebar">
      <section class="cv-section">
        <app-work-experience></app-work-experience>
      </section>
      <section class="cv-section">
        <app-education></app-education>
      </section>
      <section class="cv-section">
        <app-languages></app-languages>
      </section>
    </aside>

    <main class="cv-main">
      <section class="cv-section">
        <app-skills></app-skills>
      </section>
      <section class="cv-section">
        <app-certificates></app-certificates>
      </section>
      <section class="cv-section">
        <app-interests></app-interests>
      </section>
    </main>
  </div>
</div>
