<section class="cv-section certificates-section">
  <h2 class="section-title">Certificados</h2>

  <div class="certificate-entry" *ngFor="let cer of certificates">
    <div class="certificate-header">
      <h3 class="certificate-title">
        <a *ngIf="cer.url" [href]="cer.url" target="_blank">{{ cer.title }}</a>
        <span *ngIf="!cer.url">{{ cer.title }}</span>
      </h3>
      <span class="date">{{ cer.date }}</span>
    </div>
    <p class="certificate-context">{{ cer.context }}</p>
  </div>
</section>